# Matches on any directory
*.mode1v3
*.mode2v3
*.nib
*.pbxuser
*.perspective
*.perspectivev3
*.pvrtc
*.pvrtc-preview.png
*.swp
.DS_Store
.optimus.pickle
Thumbs.db
project.xcworkspace/
tags
xcuserdata/

# Full paths.
/archive
/build
/docs
/example/*.epak
/example/pretest
/example/pretest.dSYM
/example/test
/obj
/profile
/tags
