# Matches on any directory
*.mode1v3
*.mode2v3
*.nib
*.pbxuser
*.perspective
*.perspectivev3
*.pvrtc
*.pvrtc-preview.png
*.swp
.DS_Store
.optimus.pickle
Thumbs.db
nimcache/
project.xcworkspace/
tags
xcuserdata/

# Full paths.
/archive
/build
/docs
/example/*.epak
/example/pretest
/example/pretest.dSYM
/example/test
/nimrod/bundled.c
/nimrod/bundled.h
/nimrod/nimepak
/nimrod/nimepakoo
/nimrod/tests/no pass.epak
/nimrod/tests/testnimepak
/nimrod/tests/testnimepakoo
/nimrod/tests/with pass.epak
/obj
/profile
/tags
